<h1>Playlists</h1>

<div><h2>Your Songs</h2></div>

<ul>
<% @songs.each do |song| %>

      <li><%= link_to_if song.songsterr_url, "#{song.name}-#{song.artist.name}", song_path(song) %></li>

<% end %>
</ul>

<%= link_to 'Link Spotify', '/auth/spotify' %>