<div class="container">
  <div class="jumbotron">
    <h1>Hello, Buddy!</h1>

    <p>Welcome to My Guitar Buddy! </p>

    <p>You can easily get the chords for all your favorite songs in Spotify, just link your account here... </p>

    <br/>
    <br/>
    <br/>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><%= button_to 'Link Spotify', '/auth/spotify', class: 'btn-success btn-primary btn-lg btn-block', role: 'button' %></div>
      <div class="col-md-4"></div>
    </div>


  </div>
</div>
