- content_for :navbar do
  %div.navbar-brand= "#{@song.artist.name} - #{@song.name}"

%div#show-song
  %div#iframe-container
    %iframe{:src => @song.songsterr_url, :width => '100%', :height => 700, :frameBorder => 0}
